### String Functions

In [21]:
#my_srt
my_srt = "Welcome to the Course"
print(my_srt)

Welcome to the Course

In [22]:
#converts everything in lowercase 
my_srt.lower()

'welcome to the course'

In [23]:
#converts everything in uppercase 
my_srt.upper()

'WELCOME TO THE COURSE'

In [24]:
#Capital first character of each world
my_srt.title()

'Welcome To The Course'

In [25]:
#returns the index of first occurence of the word, -1 otherwise 
my_srt.find("Course")

15

In [26]:
#splits the string with space " " and creates a list 
my_srt.split(" ")

['Welcome', 'to', 'the', 'Course']

### Few Operations on Strings

In [27]:
#concatenate 2 of strings 
"abc " + " pqr"

'abc  pqr'

In [28]:
#cannot concatenate other data type
"abc" + 1

TypeError: can only concatenate str (not "int") to str

In [15]:
#type of conversion is the way 
"abc " +  str(1)

'abc 1'

In [16]:
#Multiplicaton of string with int n results into repetition string n times
"hello"*4

'hellohellohellohello'

### Lists

In [18]:
my_list = [6,3,4,7,8]
print(my_list)

[6, 3, 4, 7, 8]

In [19]:
type(my_list)

list

### Indexing/Slicing of List works same way as Strings

In [30]:
print(my_list [0])
print(my_list [-1])
print(my_list [1:-1]) #list slicing 
print(my_list[-4])

6
8
[3, 4, 7]
3

In [31]:
#because of mutable property 
my_list [0]=99
print(my_list)

[99, 3, 4, 7, 8]

In [33]:
#because fo mutable property 
my_list [0] = 99 
print(my_list)

[99, 3, 4, 7, 8, 33]

### Some important methods for lists

In [35]:
#adds the given element at the end of the list
my_list.append (35)
print(my_list)

[99, 3, 4, 7, 8, 33, 33, 35]

In [37]:
#inserts 90 at index 1
my_list.insert(1, 90)
print(my_list)

[99, 90, 90, 3, 4, 7, 8, 33, 33, 35]

In [39]:
#delete the last element.
#pop function can also take index if you want to delete specific index 
my_list.pop (3)
print(my_list)

[99, 90, 90, 4, 7, 8, 33, 33]

In [40]:
#reverse a list 
my_list.reverse()
print(my_list)

[33, 33, 8, 7, 4, 90, 90, 99]

In [41]:
#sorts in ascending order 
my_list.sort()
print(my_list)

[4, 7, 8, 33, 33, 90, 90, 99]

In [42]:
#sorts in descending order 
my_list.sort(reverse=True)
print(my_list)

[99, 90, 90, 33, 33, 8, 7, 4]

In [44]:
#in operator 
4 in my_list

True

In [46]:
#interting over elements of list and taking their squares 
for ele in my_list:
    print(ele**2)

9801
8100
8100
1089
1089
64
49
16

### List Comprehension

In [47]:
print (my_list)

[99, 90, 90, 33, 33, 8, 7, 4]

In [48]:
#creating a new list of squares of each element 
new_list = []

for ele in my_list:
    new_list.append(ele**2)
print(new_list)

[9801, 8100, 8100, 1089, 1089, 64, 49, 16]

In [49]:
##list comprehension
new_list = [ele for ele in my_list]
print (new_list)

[99, 90, 90, 33, 33, 8, 7, 4]

In [50]:
# e.g of heterogenous list 
my_list_2 = [4, True, 98.4, [9,6,3], "Python", 100]
print(my_list_2)

[4, True, 98.4, [9, 6, 3], 'Python', 100]

In [51]:
len(my_list_2)

6

In [52]:
list_2d = [[1,2,3],[4,5,6],[7,8,9] ]
print(list_2d)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [53]:
print(list_2d[1])

[4, 5, 6]

In [54]:
#accessing an element in 2d list
print(list_2d[1][0])

4

### Tuples 
-similar to lists (read-only)
-orderd, collections of items
-indexable
-immutable

In [1]:
 
tup = (8, 9 , "Hello", 88)
print(tup)

(8, 9, 'Hello', 88)

In [2]:
type(tup)

tuple

In [3]:
print(tup[0])
print(tup[:-1])

8
(8, 9, 'Hello')

In [4]:
#But this is not possible beacasuse of immutablity 
tup[0]=1

TypeError: 'tuple' object does not support item assignment

In [5]:
for ele in tup:
    print(ele)

8
9
Hello
88

### Set 
-contains only unique elements
-mutable
-unordered
-unindexable

In [8]:
my_set = {9, 7, 7, 1, 8, 9, 7, 5, 1}
#No duplicate elements
print(my_set)

{1, 5, 7, 8, 9}

In [10]:
#No matter how many times you add same element, it will be avialable only once.
my_set.add(99)
print(my_set)
my_set.add(99)
print(my_set)

{1, 99, 5, 7, 8, 9}
{1, 99, 5, 7, 8, 9}

In [11]:
#remove elements from set
my_set.remove (8)
print(my_set)

{1, 99, 5, 7, 9}

### Remove Duplicate Number from a list

In [13]:
some_list = [6, 3, 7, 6, 4, 1, 0, 9, 2, 1, 0, 8, 6, 4, 7]
print(some_list)

[6, 3, 7, 6, 4, 1, 0, 9, 2, 1, 0, 8, 6, 4, 7]

In [14]:
my_new_set = set(some_list)
some_list = list(my_new_set)
some_list

[0, 1, 2, 3, 4, 6, 7, 8, 9]